# Contents of ~/.config/systemd/user/cam.service
[Unit]
Description=Cam
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStartPre=/usr/bin/sleep 8
ExecStart=/usr/bin/python3 /home/pi/rasberry-pi-camera-live/camera/cameraStream.py

# Hardening
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
# https://unix.stackexchange.com/questions/666509/systemd-service-does-not-start-wantedby-multi-user-target
WantedBy=default.target