# Contents of ~/.config/systemd/user/cam.service
[Unit]
Description=Cam
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/python3 /home/pi/rasberry-pi-camera-live/camera/cameraStream.py

# Hardening
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target