# Contents of ~/.config/systemd/user/django.service
# https://docs.gunicorn.org/en/latest/deploy.html
[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=pi
Group=pi
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory=/home/pi/rasberry-pi-camera-live/app
ExecStart=/home/pi/.local/bin/gunicorn --workers 1 --bind 0.0.0.0:8080 app.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target