# Contents of ~/.config/systemd/user/django.service
[Unit]
Description=Django
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/python3 /home/pi/rasberry-pi-camera-live/app/manage.py runserver 0.0.0.0:8080

# Hardening
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=default.target