# Contents of /etc/systemd/system/django.service
[Unit]
Description=Django
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/rasberry-pi-camera-live/app/manage.py runserver 0.0.0.0:8080

[Install]
WantedBy=multi-user.target