{% extends "main.html" %}
{% load static %}
{% block extra_stylesheets %}
<link rel="stylesheet" href="{% static '/styles/luftpistol/saved.css' %}">
{% endblock extra_stylesheets %}
{% block content %}
<div id="main">
    {% for image in saved_images %}
    <div class="saved-div">
        <div class="leftcolumn">
            <p class="date">{{image}}</p>
            <p class="description">{{image.description}}</p>
        </div>
        <div class="rightcolumn">
            <img src="{% get_static_prefix %}images/{{ image.name }}.jpg" class="saved-image"/>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock content %}