{% extends "main.html" %}
{% load static %}
{% block extra_stylesheets %}
<link rel="stylesheet" href="{% static '/styles/luftpistol/saved.css' %}">
{% endblock extra_stylesheets %}
{% block content %}
<div id="main">
    <div class="saved-div">
        <div class="leftcolumn">
            <p class="date">2024-04-14</p>
        </div>
        <div class="rightcolumn">
            <img src="{% get_static_prefix %}images/target.jpg" class="saved-image"/>
        </div>
    </div>
    <div class="saved-div">
        <div class="leftcolumn">
            <p class="date">2024-04-14</p>
        </div>
        <div class="rightcolumn">
            <img src="{% get_static_prefix %}images/target.jpg" class="saved-image"/>
        </div>
    </div>
    
    
</div>
{% endblock content %}

<!-- {% for image in saved_images %}
    <img src="{% get_static_prefix %}images/{{ image.name }}.jpg" width="640" height="480" />
    {% endfor %} -->