{% extends "main.html" %}
{% load static %}
{% block extra_stylesheets %}
<link rel="stylesheet" href="{% static '/styles/luftpistol/stream.css' %}">
<script src="{% static 'js/stream.js' %}" ></script>
{% endblock extra_stylesheets %}
{% block content %}
<div class="loader-div">
    <div class="loader">
        <p class="loader-text">PROCESSING PICTURE</p>
    </div>
</div>
<div id="main">
    <img src="http://192.168.10.27:8000/stream.mjpg" class="stream"/>
    <form action="{% url 'stream' %}" method="POST" id="PIC-form">
        {% csrf_token %}
        <div class="PIC">
            <input type="text" name="PIC-description" placeholder="Add a description" required class="PIC-description">
            <input type="submit" name="PIC" value="Save a picutre" class="PIC-button">
        </div>
    </form>
</div>
{% endblock content %} 